body {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #566D7E
}

/* headings & logo */ 

h1, h2 { 
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px; 
    color: #657383;
}

#logo{ 

    float: left;
    font-size: 250%;
    margin-left: 20px;
}

/* nav bar */ 

#nav{
    font-size: 200%;
    letter-spacing: 5px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}

#nav, #logo{
    line-height: 5px;
}

#nav li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a{
    text-decoration: none;
    color: inherit;
}

#nav a:hover{
    border-bottom: 1px solid #657383;
}

#feed-title{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding: 100px;
    color: #657383;
    font-weight: bold;
}

/* hero-image */

#hero-image{
    height: 500px;
    width: 100%;
    background: url("../css/images/hero-image.JPG") no-repeat center center;
    position: relative;
    filter: brightness(75%);

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}




#hero-outer{ 
    height: 500px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* introduction paragraph */

#introduction {

    font-size: large;
    line-height: 20px;
    width: 80%;
    padding: 30px;
    margin: 0% auto;
    margin-bottom: 10px
}

/* index button */ 

#menu-button {

    border: none;
    color: #657383;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10%;
    transition-duration: 0.4s;
    position: absolute;
    margin: 0%;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#menu-button:hover {
    background-color: #657383;
    color: whitesmoke
}

.button-container {

    position: relative;
}


/* hyperlinks */ 

a {
    color: inherit;
    text-decoration: none;
}

/* horizontal border */

hr {
    border-top: 1px solid #657383;
}

/* index images */ 

.column {
        float: left;
        width: 30%;
        padding: 10px;
      }

#current-dishes::after {
        content: "";
        clear: both;
        display: table;
      }

#current-dishes {
        display: flex;
        height: 500px;
      }

 .column {
        flex: 33.33%;
        padding: 5px;
      }

/* opening times */

#opening-header {
    color: #657383;
}


.restaurant { 
    background-position: left;
    width: 33%;
    color:#657383;
    display: inline-block;
    text-align: left;
}

.terrace {
    background-position: center center;
    width: 33%;
    color:#657383;
    display: inline-block;
    text-align: center;
}

.garden {
    background-position: right;
    width: 33%;
    color:#657383;
    display: inline-block;
    text-align: right;
}

/* footer */ 

footer{
    height: 150px;
}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 5%;
    padding: 1%;
    color:#566D7E 
}