body {
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #566D7E
}

/* headings & logo */ 

h1, h2 { 
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px; 
    color: #657383;
}

#logo{ 
    float: left;
    font-size: 300%;
}